* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-control {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
}

.form-select {
  width: 10%;
  padding: 10px;
  background-color: #333;
  border: 1px solid #444;
  color: #fff;
  border-radius: 5px;
}

button {
  padding: 12px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

h2 {
  font-size: 1.25rem;
  color: #28a745;
}